.contenedor{
    border: solid black;
    width: 450px;
    height: 450px;
    display: inline-flex;
    align-items: center;
}
#caja1{
    color: white;
    background-color: red;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#caja2{
    color: white;
    background-color: blue;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#caja3{
    color: white;
    background-color: green;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}