body {
    padding: 0px;
    margin: 0px;
}
.contenedor{
    background-color: black;
    width: 100%;
    flex-direction: column;
}
#caja1{
    background-color: orange;
    width: 100%;
    text-align: left;
    margin-bottom: 1px;

}
#caja2{
    background-color: rgb(206, 169, 239);
    width: 100%;
    float: none;
    margin-bottom: 1px;
}
#caja3{
    background-color: rgb(255, 100, 100);
    width: 100%;
}